.authorPage {
    .body__content__inner {
        -ms-grid-column: 1; 
        -ms-grid-column-span: -1;
        grid-column: 1 / -1;
    }
}

.author__form {
    input, textarea {
        margin: 1em;
        margin-left: 0;
    }
}