.home {
    &__testimonials {
        display: flex;
        flex-wrap: wrap;
    }
    &.body__content {
        background-color: transparent;
    }
    .body__content__inner {
        -ms-grid-column: 1; 
        -ms-grid-column-span: 12;
        grid-column: 1 / -1;
    }
}
