.body__content.pay {
    min-height: 100vh;
}

#paymentModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}

#status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $link-color;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    padding: 2em;
    text-align: center;
    color: $background;
}

.loader {
    border: 8px solid $background;
    border-radius: 50%;
    border-top: 8px solid $accent;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #closeButton {
      margin-top: 1em;
      display: none;
  }

  #paymentForm {
      width: 100%;
      max-width: 500px;;
      input {
          width: 100%;
          height: 2em;
          margin: 1em 0;
          border: 1px solid $base-font-color;
          border-radius: 3px;;
          padding-left: 0.25em;
      }
      label {
          color: black;
      }

      button {
          border-radius: 5px;
          background: $accent;
          color: white;
          border:none;
          padding: 0.5em;
          width: 100%;
          margin: 1em 0;
      }
  }

  fieldset {
      border: none;
  }