body {
  background-color: $background;
  color: $base-font-color;
  -ms-display: grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:active {
    color: $accent;
  }
  &.active {
    color: $accent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headers;
  text-transform: uppercase;
}
.body__content {
  background-color: #fff;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;  grid-column: 4 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / -1;
  padding: 40px;
  @media all and (max-width: $breakpoint) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / -1;
  }
  &__inner {
    grid-column: 1 / 9;
    @media all and (max-width: $breakpoint) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 12;
      grid-column: 1 / -1;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}
li {
  line-height: 1.55;
  list-style: none;
  margin: 0;
  padding: 0; 
  &:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin-right: 5px;
  }
}

.social {
  display: inline-block;
  margin-top: 10px;
  &__icon {
    border: 1px solid $base-font-color;
    border-radius: 50%;
    color: $base-font-color;
    display: block;
    float: left;
    margin-right: 10px;
    height: 40px !important;
    width: 40px !important;
    i {
      display: block;
      margin-top: 11px;
      text-align: center;
    }
    &:hover {
      border: 1px solid $accent;
    }
  }
}