<h4 id="humble-beginnings">Humble Beginnings</h4>
<p>As a youngster, my parents were very involved (and still are!) in our town. This included both government and volunteer positions. My mother often wrote copy for newsletters and press releases; as an inquisitive child, I had to read those
  documents just to see if I could find any errors my mother made! And when I found them, you can bet she heard about it!</p>
<%= image_tag("Faith.jpg") %>
<h4 id="born-to-proofread">Born to Proofread</h4>
<p>I have what could be called the proofreader personality. Attentive, perfectionistic, detail-oriented, a book lover - I was born to proofread. I just can&rsquo;t help myself; everywhere I look there is something calling out to be corrected.</p>
<p>Proofreading is not just a job for me. I find fulfillment in finding errors and correcting them so the message in the document is clear and precise. I love collaborating with authors, encouraging and challenging them.</p>
