<h1>Get in touch</h1>
<p>Looking for a Sample?</p>
<p><a href="mailto:fwilliams@theatwatergroup.com">Email</a> me your name, email, description of your project (including word count), and a five to seven page sample of the project for review. I will respond as quickly as I can with a quote on
  the rate and estimated time of delivery.</p>
<h4>You can also find me on:</h4>
<p class="social social--big">
  <a href="https://www.facebook.com/TAGProofreading/" class="facebook social__icon">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="https://twitter.com/FaithProofing" class="twitter social__icon">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="mailto:fwilliams@theatwatergroup.com" class="email social__icon">
    <i class="fa fa-envelope"></i>
  </a>
  <a href="https://www.linkedin.com/in/faithwilliamstagproofreading/" class="social__icon">
    <i class="fa fa-linkedin"></i>
  </a>
</p>
