<section class="portfolio">
<% @authors.each do |author| %>
    <% if author.books.count > 0 %>
        <%= render 'partials/author', author: author, showTestimonial: false %>
    <% end %>
<% end %>
</section>