<section class="portfolio">
  <h1>Portfolio</h1>
  <p>Sort my portfolio by genre, or <a href="/portfolio/all" >view all</a>.</p>
  <div class="portfolio__links">
    <a class="link" href="/portfolio/action">
      <p class="link__title">Action</p>
      <%= image_tag(image_url('Action.jpg'), alt: 'Link to my portfolio filtered by Action') %>
    </a>
    <a class="link" href="/portfolio/fiction">
      <p class="link__title">Fiction</p>
      <%= image_tag(image_url('Fiction.jpg'), alt: 'Link to my portfolio filtered by Fiction') %></a>
    <a class="link" href="/portfolio/romance">
      <p class="link__title">Romance</p>
      <%= image_tag(image_url('Romance.jpg'), alt: 'Link to my portfolio filtered by Romance') %>
    </a>
    <a class="link" href="/portfolio/sci-fi">
      <p class="link__title">Science Fiction</p>
      <%= image_tag(image_url('SciFi.jpg'), alt: 'Link to my portfolio filtered by Science Fiction') %>
    </a>
  </div>
</section>
