<h1>Services</h1>
<h3 id="the-atwater-group-offers-proofreading-and-editing-services-all-at-affordable-rates">The Atwater Group offers proofreading and editing services - all at affordable rates.</h3>
<p><em>Proofreading focuses on:</em></p>
<ul>
  <li>Apostrophes and commas</li>
  <li>Capitalization</li>
  <li>Clarity</li>
  <li>Faulty grammar</li>
  <li>Incorrect word usage</li>
  <li>Inconsistencies</li>
  <li>Misspellings</li>
  <li>Subject-verb agreement</li>
  <li>Syntax</li>
  <li>Typos</li>
</ul>
<p><em>Looking for a bit more help?</em></p>
<p>Copy editing may be the answer. In addition to the proofreading focus, copy editing includes sentence/word adjustments or rewrites as needed to improve readability, flow, and clarity.</p>
<p>I use Microsoft Word’s “Track Changes” feature so you can see the changes made. This software also has a “Comment” feature where recommendations and questions can be placed without inserting them into the text of the document. Click <a href="/process">here</a>
  to see how the process works.</p>
<p>But more than just the manuscript, you get a <a href="/StyleSheetSample.pdf">style sheet</a>. This valuable document makes sure your manuscript is consistent throughout and adheres to the Chicago Manual of Style, the preferred style guide for
  fiction.</p>
<p>For copyediting clients, a <a href="/ReadablityStatsSample.pdf">Readablity Stats Report</a> is also provided. This compares the orginal document with the revised document. Items reviewed include word count, Flesch Reading Ease score, Top 5
  Adverbs used, Top 5 Repeated Phrases, Top 5 Repeated Words, and Top 5 Dialog Tag Words Used</p>
<p>If you'd like to see a side-by-side comparison of a proofed sample and copy-edited sample, <a href="/ProofingVsCopyediting.pdf">click here.</a></p>
