.author {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    height: 100%;
    margin:0 10px 20px 10px;
    transition: all 0.3s ease-in-out;
    width: 30%;
    &:hover {
        box-shadow: 0 0 5px #999;
    }
    @media all and (max-width: 768px) {
        width: 75%;
    }
    &__image {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    &__image-wrapper {
        background: #ccc;
        position: relative;
        width: 100%;
    }
    &__see-more {
        background: #ccc;
        height: 100%;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 0; 
        transition: all 0.3s ease-in-out;
        width: 100%;
        &:hover {
            opacity: 0.8;
        }
        p {
            color: #000;
            margin-top: 50px;
        }
    }
    a {
        text-decoration: underline;
    }
    h2 {
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
    p {
        line-height: 1.55;
    }
    p, h2 {
        padding: 1rem;
    }
}