.author {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    height: 100%;
    margin:0 10px 20px 10px;
    transition: all 0.3s ease-in-out;
    width: 30%;
    &:hover {
        box-shadow: 0 0 5px #999;
    }
    &__image {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    &__image-wrapper {
        background: #ccc;
        width: 100%;
    }
    h4 {
        text-transform: uppercase;
    }
    p {
        line-height: 1.55;
    }
    p, h4 {
        padding: 1rem;
    }
    
}