.book {
    margin: 0 15px 30px 15px;
    width: 30%;
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    img {
        width: 100%
    }
}

.book__form {
    input, select, textarea {
        margin: 1em;
        margin-left: 0;
    }
}