.button {
    &--toggle {
        background: transparent;
        border: 1px solid $accent;
        color: $accent;
        display: none;
        padding: 6px 12px;
        &:hover {
            background: $accent;
            color: white;
        }
    }
}

// Styles to place it - probably need some tweaking. 
// position: absolute; top: 0; left: 0; z-index: 500;