.mobileNav {
    background: #ccc;
    box-sizing: border-box;
    padding: 1em;
    position: absolute;
    top: 0; 
    width: 100%;
    z-index: 2;
    @media all and (min-width: $breakpoint) {
        display: none;
    }
    &-heading {
        color: $headers;
        float: left;
        font-size: 1rem;
        font-weight: 800;
        line-height: 2;
        text-transform: uppercase;
    }
}