.sidebar {
    background: $background;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / -1;
    padding: 30px;
    z-index: 1;
    @media all and (max-width: $breakpoint) {
        box-sizing: border-box;
        -ms-grid-column: 1;
        -ms-grid-column-span: 12;
        grid-column: 1 / -1;
        transition: width 0.5s ease;
        overflow: hidden;
        padding: 0;
        width: 0%;
        h1 {
            display: none;
        }
    }
    &__brand {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 172px;
        margin: 0 auto;
        width: 250px;
    }
    &__efa {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        height: 55px;
        width: 115px;
    }
    &.active {
        display: block;
        padding: 70px 1em 1em 1em ;
        height: 100vh;
        width: 100%;
    }
}